{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>VSA CLG</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- owl carousel style -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.2.4/assets/owl.carousel.min.css" />
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <div class="header_section">
         <div class="header_bg">
            <div class="container">
               <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="logo" href="{% url 'home' %}"><img src="{% static 'images/logo2.png'%}"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item active">
                           <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                         {% if request.user.is_authenticated %}
                         <li class="nav-item active">
                           <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="{% url 'result' %}">Result</a>
                        </li>
                        <li class="nav-item active">
                            {% block context %}
                            <a class="nav-link" href="{% url 'update' data.uid %}">Register-Student</a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" href="{% url 'student' data.slug%}">Profile </a>
                           {% endblock %}
                        </li>
                        {% endif %}
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'about'%}">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'service' %}">Services</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'blog' %}">Facility</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                        </li>
                     </ul>
                     <div class="call_section">
                        <ul>
                           <li><a href="#"><img src="{% static 'images/fb-icon.png'%}"></a></li>
                           <li><a href="#"><img src="{% static 'images/twitter-icon.png'%}"></a></li>
                           <li><a href="#"><img src="{% static 'images/linkedin-icon.png'%}"></a></li>
                           <li><a href="#"><img src="{% static 'images/linkedin-icon.png'%}"></a></li>
                        </ul>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      <!--banner section start -->
      <div class="banner_section layout_padding">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="banner_taital_main">
                        <div class="row">
                           <div class="col-md-6">
                              <h1 class="banner_taital">VSA COLLEGE OF ENGINEERING</h1>
                              <p class="banner_text">sirkail,mayiladuthurai,609110</p>
                              <div class="btn_main">
                                 <div class="about_bt active"><a href="{% url 'about' %}">About Us</a></div>
                                 <div class="quote_bt"><a href="{% url 'contact' %}">Contact</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="banner_taital_main">
                        <div class="row">
                           <div class="col-md-6">
                              <h1 class="banner_taital">AIDS COURSE</h1>
                              <p class="banner_text">future of ai </p>
                              <div class="btn_main">
                                 <div class="about_bt active"><a href="#">Courses</a></div>
                                 <div class="quote_bt"><a href="{% url 'contact' %}">Contact</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="image_1"><img src="{% static 'images/robot.png' %}" style="width:100%"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="banner_taital_main">
                        <div class="row">
                           <div class="col-md-6">
                              <h1 class="banner_taital">Our Placements</h1>
                              <p class="banner_text">spaceX,Google,microsoft,amazon</p>
                              <div class="btn_main">
                                 <div class="about_bt active"><a href="{% url 'service' %}">Placements</a></div>
                                 <div class="quote_bt"><a href="{% url 'contact' %}">Contact</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="image_1"><img src="{% static 'images/spacex.png' %}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" style="font-size:24px"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right" style="font-size:24px"></i>
            </a>
         </div>
      </div>
      <!--banner section end -->
      </div>
      <!--header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital"><span style="color: #fcce2d">Our</span> Courses</h1>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'images/cs.jpeg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">Computer Science</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'images/img-3.png' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">EEE</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'images/ec.jpeg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">ECE</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'images/mech.jpeg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">MECH</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'images/it.jpeg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">IT</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'images/ai.jpeg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">AIDS</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>            
      </div>
      <!-- services section end -->
      <!-- about section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">About Us</h1>
            <p class="news_text">One of the best college in INDIA, our faculiy work in big-compane like spaceX,google,apple</p>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_taital_box">
                        <p class="date_text">2020 pass-out alumin</p>
                        <h4 class="make_text">Shaheen Ahmed </h4>
                        <p class="lorem_text">Shaheen Ahmed placed in SpaceX company, and i was mars life misson as a rockect engginer and i'm first indian who foot on mars this all by VSA college,they helped me lot to get this job thanks to VSA collage </p>
                        <p class="post_text">Post By : Shaheen</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <img src="{% static 'images/img-6.png' %}" class="image_6" style="width:100%">
                     <h6 class="plus_text">+</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Our Infrastructure</h1>
            <p class="news_text">1-class Infrastructure</p>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <img src=" {% static 'images/img-7.png' %}" class="image_7" style="width:100%">
                  </div>
                  <div class="col-md-6">
                     <h4 class="classes_text">Best Classes and study</h4>
                     <p class="ipsum_text">hi-tech teaching and ai helped learing 1-class libary prof.teacher more and more , good food facilaty non-veg and veg food support </p>
                  </div>
               </div>
            </div>
            <div class="read_bt"><a href="{% url 'blog' %}">Read More</a></div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="client_taital">Our Alumn</h1>
                     <div class="client_section_2">
                        <div class="client_left">
                           <div><img src="{% static 'images/asfar.png' %}" class="client_img"></div>
                        </div>
                        <div class="client_right">
                           <h3 class="client_name">Asfar </h3>
                           <p class="client_text">Asfar our alumn who work in google as software engginer, he head to google doods and awards as creative dev in 2035 we proud say our alumn work in google  </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="client_taital">Our Alumn </h1>
                     <div class="client_section_2">
                        <div class="client_left">
                           <div><img src="{% static 'images/faris.png' %}" class="client_img"></div>
                        </div>
                        <div class="client_right">
                           <h3 class="client_name">Faris Ahamed </h3>
                           <p class="client_text">Our Alumn work in tesla company, work as
                           tesla eletric car designer in 2035, we are proud to say alumn work in tesla  
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="client_taital">Our Alumn</h1>
                     <div class="client_section_2">
                        <div class="client_left">
                           <div><img src="{% static 'images/haja.jpg' %}" class="client_img"></div>
                        </div>
                        <div class="client_right">
                           <h3 class="client_name">Haja Kalam </h3>
                           <p class="client_text">Our alumn Haja Kalam work in
                           Apple as a cyber security in 2036, we are proud to say
                           our alumn work in Apple 
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
             <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
             <i class="fa fa-angle-right" style="font-size:24px"></i>
            </a>
         </div>
      </div>
      <!-- client section end -->
      <!-- newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
            <div class="newsletter_main">
               <h1 class="newsletter_taital">Get<br> Your free consuting </h1>
               <div class="get_quote_bt"><a href="{% url 'contact' %}">Contact </a></div>
            </div>
            <p class="dolor_text">Our college have best and kindly staff to give 
            you clear consuting, Number are provide in below and kindly dont miss use
            this number </p>
         </div>
      </div>
      <!-- newsletter section end -->

      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_left0">
                  <div class="mail_section">
                     <div class="contact_img">
                        <h1 class="contact_taital">Best Educations In World Here</h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="map_main"><img src="{% static 'images/map-img.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="subscribe_bt"><a href="{% url 'contact' %}">Subscribe</a></div>
            <input type="text" class="email_text" placeholder="Enter Your Email" name="Enter Your Email">
            <div class="footer_section_2">
               <div class="row">
                  <div class="col-lg-3 margin_top">
                     <div class="call_text"><a href="{% url 'contact' %}"><img src="{% static 'images/call-icon1.png' %}"><span class="padding_left_15">Call Now +01 9876543210</span></a></div>
                     <div class="call_text"><a href="{% url 'contact' %}"><img src=" {% static 'images/mail-icon1.png' %} "><span class="padding_left_15">vsa.ce@email.com</span></a></div>
                  </div>
                  <div class="col-lg-3">
                     <div class="information_main">
                        <h4 class="information_text">Information About Developer </h4>
                        <p class="many_text">This website developed by  v s a tech park company 
                        if there any problem contact developer email : shaheenvsa@gmail.com
                        </p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="information_main">
                        <h4 class="information_text">Helpful Links</h4>
                        <div class="footer_menu">
                           <ul>
                              <li><a href="{% url 'home' %}">Home</a></li>
                              <li><a href="{% url 'about' %}">About</a></li>
                              <li><a href="{% url 'service' %}">Services</a></li>
                              <li><a href="{% url 'blog' %}">facility</a></li>
                              
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="information_main">
                        <div class="footer_logo"><a href="{% url 'home' %}"><img src="{% static 'images/vsa-logo.png' %} " width="50%"></a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">© 2020 All Rights Reserved.</p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %} "></script>
      <script src="{% static 'js/popper.min.js' %} "></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <!-- javascript --> 
      <script src=" {% static 'js/owl.carousel.js' %}></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

