<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <title> profile </title>
   </head>
    <script>
      body {
      background: rgb(99, 39, 120)
      }
      
      .form-control:focus {
      box-shadow: none;
      border-color: #BA68C8
      }
      
      .profile-button {
      background: rgb(99, 39, 120);
      box-shadow: none;
      border: none
      }
      
      .profile-button:hover {
      background: #682773
      }
      
      .profile-button:focus {
      background: #682773;
      box-shadow: none
      }
      
      .profile-button:active {
      background: #682773;
      box-shadow: none
      }
      
      .back:hover {
      color: #682773;
      cursor: pointer
      }
      
      .labels {
      font-size: 11px
      }
      
      .add-experience:hover {
      background: #BA68C8;
      color: #fff;
      cursor: pointer;
      border: solid 1px #BA68C8
      }
   </script>
   <body>
      <div class="container rounded bg-white mt-5 mb-5">
         <div class="row">
            <div class="col-md-3 border-right">
               <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{request.user}}</span><span class="text-black-50">{{request.user.email}}</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
               <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                     <h4 class="text-right">Profile Settings</h4>
                  </div>
                  {% block context %}
                  <form method="post" action="{% url 'update' data.uid %}" >
                  {% csrf_token %}
                  <div class="row mt-2">
                     <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="ex-Shaheen Ahmed V" name="sname" value="{{data.name}}"></div>
                  </div>

                  <div class="row mt-3">
                     <div class="col-md-12"><label class="labels">age</label><input type="number" class="form-control" placeholder="enter your age " name="age" value="{{data.age}}"></div>
                     <div class="col-md-12"><label class="labels">department</label><select class="form-control" value="{{data.dept}}" name="dept">
                         <option value="B.E - COMPUTER SCIENCE AND ENGINEERING" > CSE</option>
                         <option value="B.TECH -ENGINEERING IN INFORMATION TECHNOLOGY" > B>TECH - IT</option>
                         <option value="B.E - ELECTRONICS AND COMMUNICATION ENGINEERING" > EC </option>
                         <option value="B.E - ELECTRICAL AND ELECTRONICS ENGINEERING" > EEE</option>
                         <option value="B.E - MECHANICAL" > MECH</option>
                         <option value="B.E-CIVIL ENGINEERING" > CIVIL</option>
                        </select>
                    </div>
                     <div class="col-md-12"><label class="labels"> Phone No</label><input type="number" class="form-control" placeholder="enter your phone number" name="phone" value="{{data.phone}}"></div>
                     <div class="col-md-12"><label class="labels">year</label><input type="text" class="form-control" placeholder="which year are you?" name="year" value="{{data.year}}"></div>
                     <div class="col-md-12"><label class="labels">Roll No</label><input type="text" class="form-control" placeholder="enter rollno " name="rollno" value="{{data.rollno}}"></div>
                     <div class="col-md-12"><label class="labels">dob</label><input type="date" class="form-control" pattern="\d{4}-\d{2}-\d{2}" placeholder="date of birth" name="dob" value="{{data.dob}}"></div>
                     <div class="col-md-12"><label class="labels">Email ID</label><input type="email" class="form-control" placeholder="enter email id" name="email" value="{{data.email}}"></div>
                     <div class="col-md-12"><label class="labels">address</label><input type="text" class="form-control" placeholder="address" name="address" value="{{data.address}}"></div>
                  </div>
                  <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                  {% endblock %}
                  </form>
               </div>
            </div>
         </div>
      </div>
      </div>
      </div>
      
   </body>
</html>